.card-container{
    align-items: center;
    max-width: 100%;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
   max-width: 100%;
   height: auto;
}

.card-text{
    max-height: 40%;
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fafafa;
    color:gray;
}
.name{
    font-weight: bold;

}