.header-container{
    display: flex;
    justify-content: center;
    height: 120px;
    background: white;
}

.header-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
}

.header-logo img{
    font-size: 30px;
    max-height: 200px;
    max-width: 200px;
    cursor: pointer;
}

.header-logo{
    width: fit-content;
    cursor: pointer;
}

.header-shoppingIcon img{
    font-size: 30px;
    max-height: 80px;
    max-width: 80px;
}

.header-hamburger{
    font-size: 30px;

}

.left-header{
    width: fit-content;
    justify-content: flex-start;
}

.right-header{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}