.header-container{
    display: flex;
    justify-content: center;
    height: 120px;
    background: #ececec;
}

.header-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 70%;
}

.header-logo{
    font-size: 30px;
    color: gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header-shoppingIcon img{
    font-size: 30px;
    max-height: 80px;
    max-width: 80px;
}

.header-hamburger{
    font-size: 30px;

}

.left-header{
    width: 33%;
    justify-content: flex-start;
}

.right-header{
    width: 66%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}