.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background:#142d4c;
}

.message{
    color: #ececec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}